<% if !current_user %>
  <h1>Iniciar Sesión</h1>
  <%= form_tag sessions_path do |form| %>
    <div class=”field”>
      <%= label_tag :email, "Email" %><br />
      <%= text_field_tag :email %>
    </div>
    <div class=”field”>
      <%= label_tag :password, "Contraseña"%><br />
      <%= password_field_tag :password %>
    </div>
    <br />
    <div class=”actions”>
      <%= submit_tag "Login" %>
    </div>
  <% end %>
<% else %>
  <h1>Ya has iniciado sesión</h1>
<% end %>