<% if current_user %>
  <div class='row '>
    <div class= 'col-md-5'>
      Buscar Usuarios
    <%= form_tag(users_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag('Buscar') %>
      <%= button_tag('Limpiar', type: 'button', class: 'limpiar') %>

    <% end %>

    <% if @users.present? %>
      <% @users.each do |u| %>
        <ul class = 'search-results'>
          <li> <%= "#{u.name} - #{u.email}" %></li>
        </ul>
      <% end %>
      <%= 'Su búsqueda no arrojó resultados' if @users.empty?%>
    <% end %>
    </div>
    <div id = "notifications">
      Notificación <br />
    <% if current_user.sms_status.present?  || current_user.email_status.present?%>
      <ul>
        <li><%= "Código: #{current_user.status_code}" %></li>
        <li><%= "Mensaje: #{current_user.notification_message}"%></li>
      </ul>
    <% end %>

    </div>
  </div>
<% else %>
 <h3> Por favor <a href=<%= login_path %>>inicie sesión</a> o <a href=<%= signup_path %>> regístrese</a> para continuar</h1>
<% end %>
