
<% if !current_user %>
  <h1>Registro</h1>

  <p id=”alert”><%= alert %></p>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "Nombre" %><br />
      <%= f.text_field :name, required: true%>
    </div>
    <div class="field">
      <%= f.label :email, "Correo electrónico" %><br />
      <%= f.text_field :email, required: true %>
    </div>
    <div class="field">
      <%= f.label :password, "Contraseña" %><br />
      <%= f.password_field :password, required: true %>
      <i class="fa fa-info-circle" title="Debe contener al menos 1 mayúscula, 1 número y 1 símbolo" data-toggle="tooltip" data-placement="right" aria-hidden="true"></i>  
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirme su contraseña" %><br />
      <%= f.password_field :password_confirmation, required: true %>
    </div>
    <div class="field">
      <%= f.label :identification, "Número de cédula" %><br />
      <%= f.text_field :identification, required: true %>
    </div>
    <div class="field">
      <%= f.label :phone_number, "Número celular" %><br />
      <%= f.text_field :phone_number, required: true %>
    </div>
    <br />
    <div class="field">
      <%= f.select(:role, User.roles.keys.map { |k| k.humanize }, {include_blank: "Tipo de Usuario"}, {required: true}) %>
    </div>
    <br />
    <div class="actions"><%= f.submit "Sign Up" %></div>
  <% end %>
<% else %>
  <h1>Ya has iniciado sesión</h1>
<% end %>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script> 