<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
    <div class='navbar-nav'>
      <p class='nav-item nav-link active'%> <%= "Hola, #{current_user.name}" if current_user%> </p>
      <a class='navbar-brand' href= <%= root_path%>>Home</a>
        <% if current_user %>
          <a class='nav-item nav-link active' href=<%= logout_path %>>Cerrar Sesión <span class='sr-only'>(current)</span></a>
        <% else %>
          <a class='nav-item nav-link active' href=<%= login_path %>>Iniciar Sesión</a>
          <a class='nav-item nav-link active' href=<%= signup_path %>>Registro</a>
      <% end %>
    </div>
  </div>
</nav>